#lt-sec{
    background: url("../images/background-shell.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 55vh;

    .lt-bx{
        width: 100%;
        height: 100%;

    .lt-head > h1{
        font-size: clamp(67px,4.8vw,288px);
        /* color: var(--accent-color); */
    }
    .lt-sub-head > h2{
        font-size: clamp(16px,1.9vw,145px);
        font-weight: 100;
        /* color: var(--accent-color); */
    }
    .lt-btn{
        width: clamp(190px,12vw,500px);
        display:flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid var(--accent-color);
        border-radius: 20px;
        position: relative;
        transition: all .3s ease;
        cursor: pointer;  
        /* color: var(--accent-color); */

        &:hover{
            /* background: var(--accent-color); */
            /* color: #212121; */

            a{
                color: #212121;
            }
        }
        a{
            font-size: clamp(16px,1.5vw,88px);
            font-weight: 600;
            text-decoration: none;
            /* color: var(--accent-color); */
        }
        a + i{
                font-size: clamp(18px,2.5vw,177px);
                position: absolute;
                right: 0%;
            }
    }

    }
}