.abt-service .img1{
    background: url('../images/industrail-2.webp') no-repeat;
    background-position:right center;
}

.abt-service .img2{
    background: url('../images/industrail.webp') no-repeat;
}
