
:root{
    --primary-color : #f07b26;
    --secondary-color : #535a60;
    --accent-color : #fff;
    --dark-black :#212121;
    --dark-black-2:#1E1E1E;
    --glass-primary:rgba(239, 120, 60, 0.1);
    --glass-sec:rgba(83,90,96,.2);
}

html{
    scroll-snap-type: y proximity;  
}

body{
    background: #1e1e1e url("../images/texture-2.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed ;
  
}
.service-head{
    background: url('../images/background-6.png') no-repeat;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover !important;
    
    .heading h1{
        font-size: clamp(14px,1.8vw,145px);
        text-align: center;
        font-weight: 50;
        animation-delay: .4s;
        letter-spacing: .4em;
    }
    .heading h2{
        font-size: clamp(20px,4vw,145px);
        animation-delay: .8s;
    }

    :is(h1,h2){
        transform: translateY(60px);
        filter: blur(20px);
        opacity: 0;
        animation: showContent .5s 1s linear 1 forwards;
    }
}

@keyframes showContent {
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
  }

#accordion-section,#accordion-section2,#accordion-section3,#accordion-section4{
padding:clamp(16px,1.6vw,110px) clamp(18px,2vw,120px);
}
.accordion .accordion-item,.accordion-item .accordion-body ul > li{
    background: var(--glass-primary) !important;
    backdrop-filter: blur(15px);
}
.accordion-item .accordion-header .accordion-button{
    background: var(--glass-sec) !important;
    color: var(--accent-color);
    font-size:clamp(16px,1.4vw,57px);
    padding: clamp(16px,1.1vw,58px) clamp(18px,1.4vw,57px);
}
.accordion-body{
    font-size: clamp(14px,1vw,57px);
    padding:clamp(16px,1.6vw,110px) clamp(18px,2vw,120px);
}
.accordion-item .accordion-body ul > li{
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 7px;
    margin-block: 4px;
    color: var(--accent-color);
}
.main-ser-sec{
    padding-inline: clamp(12px,1vw,80px);
}
#srv-head #srv-heading h1{
    font-size: 116px;
}
#srv-head .srv-links li{
    list-style-type: "➜";
    padding-left: 10px;
    font-size: clamp(16px,1.2vw,80px);
    line-height: 1.8;
    cursor: pointer;
    transition: color .3s ease;
    a{
        text-decoration: none;
        color: var(--accent-color);
    }
}
/* section{
    scroll-snap-align: bottom;
} */
.carousel{
flex: 1 1 1;
    width: 50%;
}
.desc-section .img-acc{
    width: 100%;
    display: flex;
    justify-content: center;
    
    img{
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        animation: bouncing 2s ease 0s infinite  alternate-reverse both ;
    }
}


#desc-section2 .img-acc img{
   animation-delay: 1s;
}
#desc-section3 .img-acc img{
   animation-delay: 1.5s;
}
@keyframes bouncing{
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}
.accordion-item .accordion-button{
    font-weight: 400;
    cursor: pointer;

    &:focus-within{
        outline: none;
        border:none;
        background: none;
    }
}

section:has(#accordion-section,#accordion-section2,#accordion-section3,#accordion-section4){
    scroll-snap-align: center;
}

.accordion-body details summary{
    text-decoration: underline;
    text-underline-offset: 3px;
    font-size: clamp(18px,1.2vw,145px);
    font-weight: 440;
}
.accordion-button::after{
    background-image: url("../images/chevron-down-white.png") !important;
    background-size: cover;
    width: clamp(24px,1.74vw,100px);
    /* height: 25px; */
    height: clamp(24px,1.74vw,100px);
}
.accordion-button:not(.collapsed)::after{
    background-image: url("../images/chevron-down-regular-24.png") !important;
}
.accordion-body::-webkit-scrollbar{
    width: 6px;
}
.accordion-body::-webkit-scrollbar-track{
    border-radius: 10px;
    box-shadow: inset 0 0 5px var(--secondary-color);
}
.accordion-body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: var(--primary-color);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.sum-list > li{
    &::before{
        padding-right: .5rem;
    }
}

@media only screen and (min-width: 200px) and (max-width: 932px) {
    .carousel{
        flex: 1 1 1;
            width: 100%;
        }

        .desc-section{
            flex-direction: column;
        }
        .img-acc img{
            height: 60vh;
        }
}